@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/NavBar/style.css" layer(components);
@import "../component/Movie/movie.css" layer(components);
@import "../component/MovieDetail/moviedetail.css" layer(components);
@import "../component/Movie/movieenavant.css" layer(components);


.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    height: fit-content;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
  }

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f5f5f5;
}

/* Main container */
.container {
    max-width: 50rem;
    margin: 2.5rem auto;
    padding: 1.25rem;
    background-color: #262626;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.misenavant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}


