.iframe{
    width: 100vw;
    height: 100vh;
    border: none;
    z-index: -1;
}
.content-overlay {
    position: absolute;
    top: 40rem;
    left: 0;
    height: 25rem; 
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 10000;
}
.year, .min_age, .coeur  {
    position: absolute;
    top: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.coeur {
    right: 8rem;
}
.year {
    right: 4rem;
}

.min_age {
    right: 2rem;
}

.title-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.title-section p {
    font-size: 1.5rem;
    color: white;
}

.description_detail {
    font-size: 1.5rem;
    color: white;
}