<div class="addMenu">
    <h4 class="addMenu__title"># Ajouter un film</h4>
    <form id ="addMovie__form" class="addMenu__form">


        <input required type="text" name="name" placeholder="Saisir le nom du film" pattern="[^0-9]*" title="Les chiffres ne sont pas autorisés">
        <input required type="number" name="year" placeholder="Saisir l'année du film" min="1888" max="2100" title="Entrez une année valide">
        <textarea required name="description" placeholder="Saisir la description du film"></textarea>
        <input required type="text" name="image" placeholder="Saisir l'URL de l'image">
        <input required type="url" name="trailer" placeholder="Saisir l'URL de la vidéo">
        <select name="id_category">
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
        </select>
        <input required type="number" name="min_age" placeholder="Saisir l'âge minimum" min="0" max="21" title="Entrez un âge valide">
        <input required type="text" name="director" placeholder="Saisir le nom du réalisateur" pattern="[^0-9]*" title="Les chiffres ne sont pas autorisés">
        <input required type="number" name="length" placeholder="Saisir la durée du film en minutes" min="1" title="Entrez une durée valide">
        <input id="button__newmovie" onclick="{{handlerSubmit}}" type="button" value="Update" name="todo">

    </form>
</div>