body {
  font-family: "Times New Roman", Times, serif;
}

/* Custom scrollbar style for Webkit browsers */
.carousel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.carousel::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #E7002F;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}

/* Carte (slide du carrousel) */
.card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  border: 0.0625rem solid #000;
  text-align: center;
  padding: 0.625rem;
  height: 18.75rem;
  width: 11.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}

.description {
  display: none;
}

.card:hover .description {
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  z-index: 1;
  width: calc(100% - 1.25rem);
  top: 0.625rem;
  height: 13.4375rem;
  left: 0.625rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.image-placeholder {
  max-height: 13.4375rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1rem; /* Assuming 16px base font size */
}

.nomovie {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem; /* 20px converted to rem */
}

.card:hover {
  color: #E7002F;
  box-shadow: 0rem 0.25rem 0.5rem #E7002F;
  transform: translateY(-0.3125rem);
  transition: all 0.2s;
}
