
/* Custom scrollbar style for Webkit browsers */
.carousel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.carousel::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #e076c9;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}

/* Carte (slide du carrousel) */
.card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  border: 0.0625rem solid #000;
  text-align: center;
  padding: 0.625rem;
  height: 18.75rem;
  width: 11.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}

.image-placeholder {
  max-height: 13.4375rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1rem; /* Assuming 16px base font size */
}

.nomovie {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem; /* 20px converted to rem */
}

.card:hover {
  color: #e076c9;
  box-shadow: 0rem 0.25rem 0.5rem #e076c9;
  transform: translateY(-0.3125rem);
  transition: all 0.2s;
}

