.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem; 
  width: 100%;
  color: var(--color-fg);
  background-color: var(--color-bg);
  transition: all 0.3s ease;

  .navbar__item {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover, #e076c9);
      color: var(--color-text-hover, #000);
      transition: all 0.3s ease;
    }
  }
}


.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


