<nav class="navbar font-sans">
  <li class="navbar__logo"><img src="https://mmi.unilim.fr/~debiais7/SAE2.03-Debiais/server/images/logo.png" alt="Logo">
  </li>
  
  <ul class="navbar__list ">
    <div class= "navbar__left">
        <li class="navbar__item" onclick="{{Retour}}">Tout les films</li>
        <select class="navbar__item" id="category_select" onchange="C.handlerSelectCategory()">
          {{categories}}
        </select>
    </div>
    <li class="navbar__item" onclick="{{Favoris}}">Vos Favoris</li>
    <div class="navbar__right">
        <select class="navbar__item" id="profile_select" onchange="C.handlerSelectProfile()">
          <option value="0">Sélectionner un profil</option>
          {{profiles}}
        </select>
    </div>
  </ul>
</nav>
