@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/Log/style.css" layer(components);
@import "../component/NewMovie/newmovie.css" layer(components);
@import "../component/ProfileForm/profileform.css" layer(components);

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;

}